.deco-line {
  padding-left: 1rem;
  position: relative;
  &::after {
    // &就是deco-line
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 3px;
    background-color: $info;
  }
}
